<!DOCTYPE html>
<html lang="en">
<head> 
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title --> 
    <title>Wishfy.in | Print Shop</title>
 
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../../assets/images/favicon.ico">

    <!-- Font-Awesome (CSS) -->
    <link rel="stylesheet" href="../../assets/vendors/font-awesome/css/all.css">

    <!-- Custom Stylesheets -->
    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="stylesheet" href="../../assets/css/responsive.css">

</head>
<body> 

    <!-- ==================== Scroll-Top Area (Start) ==================== -->
    <a href="#" class="scroll-top">
        <i class="fas fa-long-arrow-alt-up"></i>
    </a>
    <!-- ==================== Scroll-Top Area (End) ==================== -->



   <!-- ==================== Header Area (Start) ==================== -->
    <header>
    <div class="holder">
      <div class="news"><i>This website is under maintenance.... We are sorry for your inconvenience.</i></div>
    </div>

        <!-- ===== Header Area (Start) ===== -->
        <div class="header">

            <div class="header-1">

                <!-- Logo --> 
                <a class="logo" href="../../index.html">
                    <img src="../../assets/images/Logo/Logo.png" alt="logo">
                    <h3>Wishfy.in</h3>
                </a>

                <ul class="header-contacts">

                    <li>
                        <i class="fas fa-envelope"></i>
                        <div class="text">
                            <h6>email:</h6>
                            <span class="gmail">abc@gmail.com</span>
                        </div>
                    </li>

                    <li>
                        <i class="fas fa-phone"></i>
                        <div class="text">
                            <h6>phone:</h6>
                            <span>+111-222-333</span>
                        </div>
                    </li>

                    <li>
                        <i class="fas fa-map"></i>
                        <div class="text">
                            <h6>address:</h6>
                            <span>Jondhi, Bankey Bazar, GAYA, BIHAR, 824217</span>
                        </div>
                    </li>

                </ul>

                <a href="../../pages/Contact/contact.html" class="btn">get quote</a>
                
            </div>

            <div class="header-2">

                <!-- Navbar --> 
                <nav class="navbar">

                    <a class="nav-btn" href="../../index.html">home</a>

                    <div class="dropdown-menu">
                        <button class="nav-btn">about <i class="fas fa-angle-down"></i> </button>
                        <div class="dropdown-content">
                            <a href="../../pages/About/About.html">about us</a>
                            <a href="../../pages/About/Team.html">team</a>
                            <a href="../../pages/About/Testimonials.html">testimonials</a>
                            <a href="../../pages/About/Faqs.html">faqs</a>
                        </div>
                    </div>

                    <div class="dropdown-menu">
                        <button class="nav-btn">services <i class="fas fa-angle-down"></i> </button>
                        <div class="dropdown-content">
                            <a href="../../pages/Services/Services.html">our services</a>
                            <a href="../../pages/Services/Service-Details.html">service details</a>
                        </div>
                    </div> 

                    <div class="dropdown-menu">
                        <button class="nav-btn">projects <i class="fas fa-angle-down"></i> </button>
                        <div class="dropdown-content">
                            <a href="../../pages/Projects/Projects.html">our projects</a>
                            <a href="../../pages/Projects/Project-Details.html">project details</a>
                        </div>
                    </div> 

                    <div class="dropdown-menu">
                        <button class="nav-btn">pages <i class="fas fa-angle-down"></i> </button>
                        <div class="dropdown-content">
                            <a href="../../pages/Pages/Pricing.html">Pricing</a>
                            <a href="../../pages/Pages/Login.html">login</a>
                            <a href="../../pages/Pages/Register.html">register</a>
                            <a href="../../pages/Pages/Reset-Password.html">forgotPwd</a>
                            <a href="../../pages/Pages/Change-Password.html">changePwd</a>
                            <a href="../../pages/Pages/Dashboard.html">profile</a>
                            <a href="../../pages/Pages/Edit-Profile.html">edit profile</a>
                            <a href="../../pages/Pages/Edit-Address.html">edit Address</a>
                        </div>
                    </div>

                    <div class="dropdown-menu">
                        <button class="nav-btn">blog <i class="fas fa-angle-down"></i> </button>
                        <div class="dropdown-content">
                            <a href="../../pages/Blog/Blog-Grid.html">blogs grid</a>
                            <a href="../../pages/Blog/Blog-List.html">blogs list</a>
                            <a href="../../pages/Blog/Blog-Details.html">blog details</a>
                        </div>
                    </div>     
                    
                    <div class="dropdown-menu">
                        <button class="nav-btn">shop <i class="fas fa-angle-down"></i> </button>
                        <div class="dropdown-content">
                            <a href="../../pages/Shop/Shop-Grid.html">shop grid</a>
                            <a href="../../pages/Shop/Shop-List.html">shop list</a>
                            <a href="../../pages/Shop/Product-Details.html">product details</a>
                            <a href="../../pages/Shop/Wishlist.html">wishlist</a>
                            <a href="../../pages/Shop/Checkout.html">checkout</a>
                            <a href="../../pages/Shop/Cart.html">cart</a>
                            <a href="../../pages/Shop/Order-List.html">order list</a>
                            <a href="../../pages/Shop/Order-Details.html">order details</a>
                        </div>
                    </div> 

                    <a class="nav-btn" href="../../pages/Contact/contact.html">contact</a>

                </nav> 

                <div id="menu-btn" class="icon fas fa-bars"></div>
                
                <div class="icon-container">
                    <a href="../../pages/Pages/Login.html" id="login" class="icon far fa-user"></a>
                    <a href="../../pages/Shop/Cart.html" id="cart" class="icon fas fa-cart-arrow-down"></a> 
                </div>

            </div>
            
        </div>
        <!-- ===== Header Area (Ends) ===== -->


        <!-- ===== Mobile Menu Area (Start) ===== -->
        <div class="mobile-menu"> 

            <div id="close-side-bar" class="fas fa-times"></div>
            
            <nav class="mobile-navbar">

                <div class="nav-link">
                    <div class="main-nav-link"> <a class="nav-btn" href="../../index.html">home</a> </div>
                </div>   

                <div class="nav-link">
                    <div class="main-nav-link"> <div class="nav-btn">about</div> <i class="fas fa-plus"></i> </div>
                    <div class="sub-nav-link">
                        <a href="../../pages/About/About.html">about us</a>
                        <a href="../../pages/About/Team.html">team</a>
                        <a href="../../pages/About/Testimonials.html">testimonials</a>
                        <a href="../../pages/About/Faqs.html">faqs</a>
                    </div>
                </div> 

                <div class="nav-link">
                    <div class="main-nav-link"> <div class="nav-btn">services</div> <i class="fas fa-plus"></i> </div>
                    <div class="sub-nav-link">
                        <a href="../../pages/Services/Services.html">our services</a>
                        <a href="../../pages/Services/Service-Details.html">service details</a>
                    </div>
                </div> 

                <div class="nav-link">
                    <div class="main-nav-link"> <div class="nav-btn">projects</div> <i class="fas fa-plus"></i> </div>
                    <div class="sub-nav-link">
                        <a href="../../pages/Projects/Projects.html">our projects</a>
                        <a href="../../pages/Projects/Project-Details.html">project details</a>
                    </div>
                </div> 

                <div class="nav-link">
                    <div class="main-nav-link"> <div class="nav-btn">pages</div> <i class="fas fa-plus"></i> </div>
                    <div class="sub-nav-link">
                        <a href="../../pages/Pages/Pricing.html">Pricing</a>
                        <a href="../../pages/Pages/Login.html">login</a>
                        <a href="../../pages/Pages/Register.html">register</a>
                        <a href="../../pages/Pages/Reset-Password.html">forgotPwd</a>
                        <a href="../../pages/Pages/Change-Password.html">changePwd</a>
                        <a href="../../pages/Pages/Dashboard.html">profile</a>
                        <a href="../../pages/Pages/Edit-Profile.html">edit profile</a>
                        <a href="../../pages/Pages/Edit-Address.html">edit Address</a>
                    </div>
                </div> 
                
                <div class="nav-link">
                    <div class="main-nav-link"> <div class="nav-btn">blog</div> <i class="fas fa-plus"></i> </div>
                    <div class="sub-nav-link">
                        <a href="../../pages/Blog/Blog-Grid.html">blogs grid</a>
                        <a href="../../pages/Blog/Blog-List.html">blogs list</a>
                        <a href="../../pages/Blog/Blog-Details.html">blog details</a>
                    </div>
                </div> 

                <div class="nav-link">
                    <div class="main-nav-link"> <div class="nav-btn">shop</div> <i class="fas fa-plus"></i> </div>
                    <div class="sub-nav-link">
                        <a href="../../pages/Shop/Shop-Grid.html">shop grid</a>
                        <a href="../../pages/Shop/Shop-List.html">shop list</a>
                        <a href="../../pages/Shop/Product-Details.html">product details</a>
                        <a href="../../pages/Shop/Wishlist.html">wishlist</a>
                        <a href="../../pages/Shop/Checkout.html">checkout</a>
                        <a href="../../pages/Shop/Cart.html">cart</a>
                        <a href="../../pages/Shop/Order-List.html">order list</a>
                        <a href="../../pages/Shop/Order-Details.html">order details</a>
                    </div>
                </div> 

                <div class="nav-link">
                    <div class="main-nav-link"> <a class="nav-btn" href="../../pages/Contact/contact.html">contact</a> </div>
                </div>  

            </nav>
        
        </div>
        <!-- ===== Mobile Menu Area (Ends) ===== -->
        
    </header>
    <!-- ==================== Header Area (End) ==================== -->


    
    <!-- ==================== Page-Title (Start) ==================== -->
    <div class="page-title">

        <div class="title">
            <h2>Cart</h2>
        </div> 
   
        <div class="link">
            <a href="../../index.html" class="fas fa-home"></a>
            <i class="fas fa-arrow-right"></i>
            <span class="page">Cart</span>
        </div>
  
    </div>
    <!-- ==================== Page-Title (End) ==================== -->



    <!-- ==================== Cart Area (Start) ==================== -->
    <section class="cart">

        <!-- ========== Shopping-Cart Area (Start) ========== -->
        <div class="shopping-cart">

            <div class='container'>

                <div class="shoplist-title">
                    <h3 class="product-heading">product</h3>
                    <h3>price</h3>
                    <h3>quantity</h3>
                    <h3>total</h3>
                    <h3>action</h3>
                </div>

                <div class="box-container"> 

                    <div class="cart-item">
                        <div class="box product">
                            <img src="../../assets/images/Shop/Cart/1.png" alt="">
                            <div class="name">Mug</div>
                        </div>
                        <div class="box price">$20.00</div>
                        <div class="box  quantitly">
                            <div class="quantity buttons_added">
                                <input type="button" value="-" class="minus">
                                <input type="number" step="1" min="1" max="100" name="quantity" value="1" title="Qty" class="input-text qty text">
                                <input type="button" value="+" class="plus">
                            </div>
                        </div>
                        <div class="box total">$20.00</div>
                        <div class="box action">
                            <a href="#" class="icon fas fa-trash-alt"></a>
                        </div>
                    </div>

                    <div class="cart-item">
                        <div class="box product">
                            <img src="../../assets/images/Shop/Cart/2.png" alt="">
                            <div class="name">Keychains</div>
                        </div>
                        <div class="box price">$30.00</div>
                        <div class="box  quantitly">
                            <div class="quantity buttons_added">
                                <input type="button" value="-" class="minus">
                                <input type="number" step="1" min="1" max="100" name="quantity" value="1" title="Qty" class="input-text qty text">
                                <input type="button" value="+" class="plus">
                            </div>
                        </div>
                        <div class="box total">$30.00</div>
                        <div class="box action">
                            <a href="#" class="icon fas fa-trash-alt"></a>
                        </div>
                    </div>

                    <div class="cart-item">
                        <div class="box product">
                            <img src="../../assets/images/Shop/Cart/3.png" alt="">
                            <div class="name">greeting Cards</div>
                        </div>
                        <div class="box price">$25.00</div>
                        <div class="box  quantitly">
                            <div class="quantity buttons_added">
                                <input type="button" value="-" class="minus">
                                <input type="number" step="1" min="1" max="100" name="quantity" value="2" title="Qty" class="input-text qty text">
                                <input type="button" value="+" class="plus">
                            </div>
                        </div>
                        <div class="box total">$50.00</div>
                        <div class="box action">
                            <a href="#" class="icon fas fa-trash-alt"></a>
                        </div>
                    </div>

                    <div class="cart-item">
                        <div class="box product">
                            <img src="../../assets/images/Shop/Cart/4.png" alt="">
                            <div class="name">Calendar</div>
                        </div>
                        <div class="box price">$50.00</div>
                        <div class="box  quantitly">
                            <div class="quantity buttons_added">
                                <input type="button" value="-" class="minus">
                                <input type="number" step="1" min="1" max="100" name="quantity" value="2" title="Qty" class="input-text qty text">
                                <input type="button" value="+" class="plus">
                            </div>
                        </div>
                        <div class="box total">$100.00</div>
                        <div class="box action">
                            <a href="#" class="icon fas fa-trash-alt"></a>
                        </div>
                    </div>

                    <div class="cart-item">
                        <div class="box product">
                            <img src="../../assets/images/Shop/Cart/5.png" alt="">
                            <div class="name">Cap</div>
                        </div>
                        <div class="box price">$50.00</div>
                        <div class="box  quantitly">
                            <div class="quantity buttons_added">
                                <input type="button" value="-" class="minus">
                                <input type="number" step="1" min="1" max="100" name="quantity" value="1" title="Qty" class="input-text qty text">
                                <input type="button" value="+" class="plus">
                            </div>
                        </div>
                        <div class="box total">$50.00</div>
                        <div class="box action">
                            <a href="#" class="icon fas fa-trash-alt"></a>
                        </div>
                    </div>

                </div>

            </div>
            
        </div>
        <!-- ========== Shopping-Cart Area (End) ========== -->



        <!-- ========== Cart-Summary Area (Start) ========== -->
        <div class="cart-summary">
 
            <div class="summary-list">

                <div class="summary-item">
                    <div class="name box">sub total</div>
                    <div class="value box">$250.00</div>
                </div>

                <div class="summary-item">
                    <div class="name box">delivery fee</div>
                    <div class="value box">$50.00</div>
                </div>

                <div class="summary-item">
                    <div class="name box">discount</div>
                    <div class="value box">$20.00</div>
                </div>
 
                <div class="summary-item">
                    <div class="name box">tax</div>
                    <div class="value box">$20.00</div>
                </div> 

                <div class="summary-item"> 
                    <div class="name box">total</div>
                    <div class="value box">$300.00</div>
                </div>

            </div>

            <a href="./Checkout.html" class="btn">proceed to checkout</a>

        </div>
        <!-- ========== Cart-Summary Area (End) ========== -->


    </section>
    <!-- ==================== Cart Area (End) ==================== -->

     

    <!-- ==================== Footer Area (Start) ==================== -->
    <footer class="footer">

        <div class="box-container">

            <div class="footer-item">
                <!-- Logo --> 
                <a class="logo" href="../../index.html">
                    <img src="../../assets/images/Logo/Logo.png" alt="logo">
                    <h3>Wishfy.in</h3>
                </a>
                <p>We provide Extraordinary paper Quality, Exceptional Printing system. We discover the words when you require them.</p>
                <div class="social">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>

            <div class="footer-item">
                <h2>our services</h2>
                <div class="info links">
                    <p><i class="fas fa-circle-notch"></i><a href="../../pages/Services/Service-Details.html">Card Design</a></p>
                    <p><i class="fas fa-circle-notch"></i><a href="../../pages/Services/Service-Details.html">Banner printing</a></p>
                    <p><i class="fas fa-circle-notch"></i><a href="../../pages/Services/Service-Details.html">Flyer Printing</a></p>
                    <p><i class="fas fa-circle-notch"></i><a href="../../pages/Services/Service-Details.html">Shirt Printing</a></p>
                    <p><i class="fas fa-circle-notch"></i><a href="../../pages/Services/Service-Details.html">Package Design</a></p>
                    <p><i class="fas fa-circle-notch"></i><a href="../../pages/Services/Service-Details.html">Mug Printing</a></p>
                </div>
            </div>

            <div class="footer-item">
                <h2>useful links</h2>
                <div class="info links pages">
                    <div class="links-item">
                        <p><i class="fas fa-circle-notch"></i><a href="../../index.html">home</a></p>
                        <p><i class="fas fa-circle-notch"></i><a href="../../pages/About/About.html">about</a></p>
                        <p><i class="fas fa-circle-notch"></i><a href="../../pages/About/Testimonials.html">testimonials</a></p>
                        <p><i class="fas fa-circle-notch"></i><a href="../../pages/Services/Services.html">services</a></p>
                        <p><i class="fas fa-circle-notch"></i><a href="../../pages/Projects/Projects.html">projects</a></p>
                    </div>
                    <div class="links-item">
                        <p><i class="fas fa-circle-notch"></i><a href="../../pages/Pages/Pricing.html">pricing</a></p>
                        <p><i class="fas fa-circle-notch"></i><a href="../../pages/Blog/Blog-Grid.html">blogs</a></p>
                        <p><i class="fas fa-circle-notch"></i><a href="../../pages/Shop/Shop-Grid.html">shop</a></p>
                        <p><i class="fas fa-circle-notch"></i><a href="../../pages/Contact/contact.html">contact</a></p>
                    </div>
                </div>
            </div> 

            <div class='footer-item'>
                <h2>contact info</h2> 
                <div class="info connect">
                    <p><i class="fas fa-phone"></i><span>+111-222-333</span></p>
                    <p><i class="fas fa-phone"></i><span>+123-456-789</span></p>
                    <p><i class="fas fa-envelope"></i><span class="gmail">abc@gmail.com</span></p>
                    <p><i class="fas fa-envelope"></i><span class="gmail">xyz@gmail.com</span></p>
                    <p><i class="fas fa-map"></i><span>Jondhi, Bankey Bazar, GAYA, BIHAR, 824217</span></p>
                </div>
            </div>

        </div>

        <div class="content">
            <p>designed by <span>AS_Designs</span> | all rights reserved</p>
        </div>

    </footer>
    <!-- ==================== Footer Area (End) ==================== -->


 

    <!-- Jquery -->
    <script src="../../assets/vendors/jquery/jquery-3.6.0.js"></script> 

    <!-- Custom Script Files -->
    <script src="../../assets/js/script.js"></script>
    <script src="../../assets/js/nav-link-toggler.js"></script>
    <script src="../../assets/js/quantity.js"></script>


</body>
</html>

