{% load static %}
<!-- Font-Awesome (CSS) -->
<link rel="stylesheet" href="{% static 'assets/vendors/font-awesome/css/all.css' %}">

<!-- Magnific-Popup (CSS) -->
<link rel="stylesheet" href="{% static 'assets/vendors/magnific-popup/magnific-popup.css' %}">

<!-- Swiper (CSS) -->
<link rel="stylesheet" href="{% static 'assets/vendors/swiper/swiper.css' %}">

<!-- Custom Stylesheets -->
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">

<!-- ninja image slider -->
<link rel="stylesheet" href="{% static 'assets/css/ninja-slider.css' %}">

<!--- Toaster css -->
<link href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet"/>
