{% load static %}
  <!-- Jquery -->
  <script src="{% static 'assets/vendors/jquery/jquery-3.6.0.js' %}"></script>

  <!-- Magnific-Popup JS -->
  <script src="{% static 'assets/vendors/magnific-popup/jquery.magnific-popup.js' %}"></script>

  <!-- Swiper (JS) -->
  <script src="{% static 'assets/vendors/swiper/swiper.js' %}"></script>

  <!-- Custom Script Files -->
  <script src="{% static 'assets/js/script.js' %}"></script>
  <script src="{% static 'assets/js/nav-link-toggler.js' %}"></script>
  <script src="{% static 'assets/js/home-slider.js' %}"></script>
  <script src="{% static 'assets/js/counter-up.js' %}"></script>
  <script src="{% static 'assets/js/projects.js' %}"></script>
  <script src="{% static 'assets/js/testi-slider.js' %}"></script>

  <!--- Product detail page -->
<script src="{% static 'assets/js/Product-Gallery.js' %}"></script>

<script src="{% static 'assets/js/quantity.js' %}"></script>
<script src="{% static 'assets/js/faqs.js' %}"></script>

<!--- Ninja image slider -->
<script src="{% static 'assets/js/ninja-slider.js' %}"></script>

<!--- Toaster js -->
<script src="{% static 'assets/js/toastr.min.js' %}"></script>
