{% load static %}
<nav class="navbar">
      <a class="nav-btn" href="{% url 'home' %}">home</a>

      <div class="dropdown-menu">
        <button class="nav-btn">about <i class="fas fa-angle-down"></i> </button>
        <div class="dropdown-content">
          <a href="{% url 'about-us' %}">about us</a>
          <a href="{% url 'testimonial' %}">testimonials</a>
          <a href="{% url 'faq' %}">faqs</a>
        </div>
      </div>

      <a class="nav-btn" href="{% url 'services' %}">Services</a>

      <div class="dropdown-menu">
        <button class="nav-btn">shop <i class="fas fa-angle-down"></i> </button>
        <div class="dropdown-content">
          <a href="{% url 'products' %}">All Products</a>
            {% for category in categories %}
            <a href="{% url 'products' %}?category={{category.type}}">{{category.type}}</a>
            {% endfor %}
          <a href="{% url 'wishlists' %}">My Wishlist</a>
          <a href="{% url 'cart' %}">My Cart</a>
          <a href="{% url 'order-history' %}">My Orders</a>
        </div>
      </div>

    {% for category in categories %}
        <a class="nav-btn" href="{% url 'products' %}?category={{category.type}}">{{category.type}}</a>
    {% endfor %}
      <a class="nav-btn" href="{% url 'contact-us' %}">contact</a>

    </nav>