{% load static %}
<!-- ===== Mobile Menu Area (Start) ===== -->
<div class="mobile-menu">

  <div id="close-side-bar" class="fas fa-times"></div>

  <nav class="mobile-navbar">

    <div class="nav-link">
      <div class="main-nav-link"> <a class="nav-btn" href="{% url 'home' %}">home</a> </div>
    </div>

    <div class="nav-link">
      <div class="main-nav-link"> <div class="nav-btn">about</div> <i class="fas fa-plus"></i> </div>
      <div class="sub-nav-link">
        <a href="{% url 'about-us' %}">about us</a>
        <a href="{% url 'testimonial' %}">testimonials</a>
        <a href="{% url 'faq' %}">faqs</a>
      </div>
    </div>

    <div class="nav-link">
      <div class="main-nav-link"> <div class="nav-btn">services</div> <i class="fas fa-plus"></i> </div>
      <div class="sub-nav-link">
        {% for service in services %}
        <a href="{% url 'service-detail' service.slug %}">{{service.title}}</a>
        {% endfor %}
      </div>
    </div>

    <div class="nav-link">
      <div class="main-nav-link"> <div class="nav-btn">shop</div> <i class="fas fa-plus"></i> </div>
      <div class="sub-nav-link">
        <a href="{% url 'products' %}">All Products</a>
        {% for category in categories %}
            <a href="{% url 'products' %}?category={{category.slug}}">{{category.type}}</a>
        {% endfor %}
          <a href="{% url 'wishlists' %}">My Wishlist</a>
          <a href="{% url 'cart' %}">My Cart</a>
          <a href="{% url 'order-history' %}">My Orders</a>
      </div>
    </div>

    <div class="nav-link">
    {% for category in categories %}
      <div class="main-nav-link">
      <a class="nav-btn" href="{% url 'products' %}?category={{category.slug}}">{{category.type}}</a>
      </div>
      {% endfor %}
    </div>
    <div class="nav-link">
      <div class="main-nav-link"> <a class="nav-btn" href="{% url 'contact-us' %}">contact</a> </div>
    </div>

  </nav>

</div>
<!-- ===== Mobile Menu Area (Ends) ===== -->