{% load static %}
<!-- ===== Mobile Menu Area (Start) ===== -->
<div class="mobile-menu">

  <div id="close-side-bar" class="fas fa-times"></div>

  <nav class="mobile-navbar">

    <div class="nav-link">
      <div class="main-nav-link"> <a class="nav-btn" href="./index.html">home</a> </div>
    </div>

    <div class="nav-link">
      <div class="main-nav-link"> <div class="nav-btn">about</div> <i class="fas fa-plus"></i> </div>
      <div class="sub-nav-link">
        <a href="./pages/About/About.html">about us</a>
        <a href="./pages/About/Team.html">team</a>
        <a href="./pages/About/Testimonials.html">testimonials</a>
        <a href="./pages/About/Faqs.html">faqs</a>
      </div>
    </div>

    <div class="nav-link">
      <div class="main-nav-link"> <div class="nav-btn">services</div> <i class="fas fa-plus"></i> </div>
      <div class="sub-nav-link">
        <a href="./pages/Services/Services.html">our services</a>
        <a href="./pages/Services/Service-Details.html">service details</a>
      </div>
    </div>

    <div class="nav-link">
      <div class="main-nav-link"> <div class="nav-btn">projects</div> <i class="fas fa-plus"></i> </div>
      <div class="sub-nav-link">
        <a href="./pages/Projects/Projects.html">our projects</a>
        <a href="./pages/Projects/Project-Details.html">project details</a>
      </div>
    </div>

    <div class="nav-link">
      <div class="main-nav-link"> <div class="nav-btn">pages</div> <i class="fas fa-plus"></i> </div>
      <div class="sub-nav-link">
        <a href="./pages/Pages/Pricing.html">Pricing</a>
        <a href="./pages/Pages/Login.html">login</a>
        <a href="./pages/Pages/Register.html">register</a>
        <a href="./pages/Pages/Reset-Password.html">forgotPwd</a>
        <a href="./pages/Pages/Change-Password.html">changePwd</a>
        <a href="./pages/Pages/Dashboard.html">profile</a>
        <a href="./pages/Pages/Edit-Profile.html">edit profile</a>
        <a href="./pages/Pages/Edit-Address.html">edit Address</a>
      </div>
    </div>

    <div class="nav-link">
      <div class="main-nav-link"> <div class="nav-btn">blog</div> <i class="fas fa-plus"></i> </div>
      <div class="sub-nav-link">
        <a href="./pages/Blog/Blog-Grid.html">blogs grid</a>
        <a href="./pages/Blog/Blog-List.html">blogs list</a>
        <a href="./pages/Blog/Blog-Details.html">blog details</a>
      </div>
    </div>

    <div class="nav-link">
      <div class="main-nav-link"> <div class="nav-btn">shop</div> <i class="fas fa-plus"></i> </div>
      <div class="sub-nav-link">
        <a href="./pages/Shop/Shop-Grid.html">shop grid</a>
        <a href="./pages/Shop/Shop-List.html">shop list</a>
        <a href="./pages/Shop/Product-Details.html">product details</a>
        <a href="./pages/Shop/Wishlist.html">wishlist</a>
        <a href="./pages/Shop/Checkout.html">checkout</a>
        <a href="./pages/Shop/Cart.html">cart</a>
        <a href="./pages/Shop/Order-List.html">order list</a>
        <a href="./pages/Shop/Order-Details.html">order details</a>
      </div>
    </div>

    <div class="nav-link">
      <div class="main-nav-link"> <a class="nav-btn" href="./pages/Contact/contact.html">contact</a> </div>
    </div>

  </nav>

</div>
<!-- ===== Mobile Menu Area (Ends) ===== -->