{% extends 'includes/base.html' %}
{% load static %}
{% load template_tags %}

{% block content %}
  <!-- ==================== Home-Slider Area (Start) ==================== -->  
  <section class="home">

    <div class="swiper-container home-slider">
      <div class="swiper-wrapper">
    {% for slide in slider %}
        <div class="swiper-slide home-item">
          <img src="{{ slide.image.url }}" alt="">
          <div class="content">
            <div class="text">
              <span>{{slide.welcome_message}}</span>
              <h3>{{slide.heading}}</h3>
              <p>{{slide.description|safe}}</p>
              <a href="{% url 'contact-us' %}" class="btn">contact us</a>
            </div>
          </div>
        </div>
    {% endfor %}

      </div>

      <div class="swiper-pagination swiper-pagination1"></div>

      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>

    </div>

  </section>
  <!-- ==================== Home-Slider Area (End) ==================== -->    


 
  <!-- ==================== About Area (Start) ==================== -->
  <section class="about">

    <div class="heading">  
      <span>know about us</span>
      <h2>about us</h2>  
    </div>

    <div class="box-container">

      <div class="image">
        <img src="{{about_us.image.url}}" alt="">
      </div>
    
      <div class="content">
        <h3>{{about_us.heading}}</h3>
        <div class="line"></div>
        <p>{{about_us.description|safe}}</p>
        <a href="{% url 'contact-us' %}" class="btn">contact us</a>
      </div>

    </div>
  
  </section>
  <!-- ==================== About Area (End) ==================== -->
    

  <!-- ==================== Features Area (Start) ==================== -->
  <section class="features">

    <div class="heading">  
      <span>Our Best Features</span>
      <h2>Our Features</h2>  
    </div>
    
    <div class="box-container">
    {% for feature in features %}
      <div class="feature-item" data-aos="fade-down">
        <div class="icon">
          <i class="fas {{feature.icon}}"></i>
        </div>
        <div class="content">
          <h3>{{feature.title}}</h3>
          <p>{{feature.description|safe}}</p>
        </div>
      </div>
    {% endfor %}
    </div>

  </section>
  <!-- ==================== Features Area (End) ==================== -->
  
    

  <!-- ==================== Services Area (Start) ==================== -->
  <section class="services">

    <div class="heading">  
      <span>what we offer</span>
      <h2>our services</h2>  
    </div>
      
    <div class="box-container">
      {% for service in services %}
      <div class="service-item">
        <div class="image">
          <img src="{{service.image.url}}" alt="Service-Image">
        </div>
        <div class="content">
          <a href="{% url 'service-detail' service.slug %}"><h3>{{service.title}}</h3></a>
<!--          <p>{{service.description|safe}}</p>-->
        </div>
      </div>
      {% endfor %}

    </div>

  </section>
  <!-- ==================== Services Area (End) ==================== -->



  <!-- ==================== Count Area (Start) ==================== -->
  <div class="counting">

    <div class="box">
      <i class="fas fa-tasks"></i>
      <div class="count" data-count="{{about_us.project_done}}">{{about_us.project_done}}+</div>
      <h3>Projects Done</h3>
    </div>

    <div class="box">
      <i class="fas fa-user-friends"></i>
      <div class="count" data-count="{{about_us.satisfied_clients}}">{{about_us.satisfied_clients}}+</div>
      <h3>Satisfied Clients</h3>
    </div>

    <div class="box">
      <i class="fas fa-award"></i>
      <div class="count" data-count="{{about_us.awards_won}}">{{about_us.awards_won}}+</div>
      <h3>Awards Won</h3>
    </div>

    <div class="box">
      <i class="fas fa-users-cog"></i>
      <div class="count" data-count="{{about_us.expert_team}}">{{about_us.expert_team}}+</div>
      <h3>Expert Team</h3>
    </div>

  </div>
  <!-- ==================== Count Area (End) ==================== --> 



  <!-- ==================== Projects Area (Start) ==================== -->
<!--  <section class="projects">-->

<!--    <div class="heading">  -->
<!--      <span>our recent work</span>-->
<!--      <h2>our projects</h2>  -->
<!--    </div>-->

<!--    <ul class="controls">-->
<!--      <li class="button active" data-filter="all">all</li>-->
<!--      {% for category in categories %}-->
<!--        <li class="button" data-filter="{{category.type}}">{{category.type}}</li>-->
<!--      {% endfor %}-->
<!--    </ul>-->

<!--    <div class="box-container">-->
<!--    {% for project in projects %}-->
<!--      <div class="project-item image {{project.type}}">-->
<!--        <img src="{{project.image.url}}" alt="Project-Image">-->
<!--        <div class="content">-->
<!--          <div class="text">-->
<!--            <p>{{project.title}}</p>-->
<!--            <h3>{{project.sub_title}}</h3>-->
<!--          </div>-->
<!--          <div class="btn-container">-->
<!--            <a class="view" href="{{project.image.url}}"><i class="fas fa-expand-alt"></i></a>-->
<!--            <a href="./pages/Projects/Project-Details.html"><i class="fas fa-link"></i></a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    {% endfor %}-->
<!--    </div>-->

<!--  </section>-->
  <!-- ==================== Projects Area (End) ==================== -->



  <!-- ==================== Products Area (Start) ==================== -->
  <section class="products">

    <div class="heading">  
      <span>Our popular products</span>
      <h2>Our products</h2>  
    </div>

    <div class="box-container">
    {% for product in products %}
      <div class="product-item image">
        <div class="image">
          <div class="options">
            <a href="{% url 'add-to-cart' product.id %}"><i class="fas fa-cart-plus"></i></a>
            <a href="{% url 'add-to-wishlist' product.id %}" class="add-wishlist"><i class="far fa-heart"></i></a>
            <a href="{% url 'product-details' product.slug %}"><i class="far fa-eye"></i></a>
          </div>
          {% if product.photos.values %}
            <img src="{% static product|get_image %}" alt="">
          {% else %}
            <img src="Media/default.jpg" alt="">
          {% endif %}
        </div>
        <div class="content">
          <a href="{% url 'product-details' product.slug %}"><h3>{{product.title}}</h3></a>
          <div class="price">
              <p>₹ {{product.price|get_price:product.category.discount}} <span>₹ {{product.price}}</span></p>
          </div>
        </div>
      </div>

    {% endfor %}
    </div>
    
  </section>
  <!-- ==================== Products Area (End) ==================== -->



  <!-- ==================== Testimonials Area (Start) ==================== -->
  <section class="testimonial">

    <div class="heading">  
      <span>what our client's say</span>
      <h2>our testimonials</h2>  
    </div>
  
    <div class="swiper-container testimonial-slider">
      <div class="swiper-wrapper">
        {% for testimonial in testimonials %}
        <div class="swiper-slide testi-item">
          <img src="{{testimonial.image.url}}" alt="">
          <i class="fas fa-quote-left"></i>
          <p>{{testimonial.testimonial|safe}}</p>
          <div class="text">
            <h4>{{testimonial.name}}</h4>
            <h6>{{testimonial.type}}</h6>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="swiper-pagination swiper-pagination2"></div>

    </div>
  
  </section>
  <!-- ==================== Testimonials Area (End) ==================== -->



  <!-- ==================== Blogs Area (Start) ==================== -->
<!--  <section class="blog main">-->

<!--    <div class="heading">  -->
<!--      <span>recent news & blogs</span>-->
<!--      <h2>our blogs</h2>  -->
<!--    </div>-->
<!--  -->
<!--    <div class="box-container">-->

<!--      <div class="blog-item"> -->
<!--        <div class="image">-->
<!--          <img src="{% static 'assets/images/Blog/Blogs/Blog-1.png' %}" alt="Blog-Image">-->
<!--        </div>-->
<!--        <div class="content">-->
<!--          <div class="category">Flyer printing</div>-->
<!--          <a class="main-heading" href="./pages/Blog/Blog-Details.html">Top 5 Flyer Printing Ideas</a>-->
<!--          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam possimus modi.</p>  -->
<!--          <div class="details">-->
<!--            <h3><i class="fas fa-user-circle"></i><span>By Admin</span></h3>-->
<!--            <h3><i class="far fa-calendar-alt"></i><span>15th feb, 2022</span></h3>-->
<!--          </div>  -->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="blog-item"> -->
<!--        <div class="image">-->
<!--          <img src="{% static 'assets/images/Blog/Blogs/Blog-2.png' %}" alt="Blog-Image">-->
<!--        </div>-->
<!--        <div class="content">-->
<!--          <div class="category">Shirt Printing</div>-->
<!--          <a class="main-heading" href="./pages/Blog/Blog-Details.html">Best T-shirt Design ideas</a>-->
<!--          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam possimus modi.</p>  -->
<!--          <div class="details">-->
<!--            <h3><i class="fas fa-user-circle"></i><span>By Admin</span></h3>-->
<!--            <h3><i class="far fa-calendar-alt"></i><span>11th mar, 2022</span></h3>-->
<!--          </div>  -->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="blog-item"> -->
<!--        <div class="image">-->
<!--          <img src="{% static 'assets/images/Blog/Blogs/Blog-3.png' %}" alt="Blog-Image">-->
<!--        </div>-->
<!--        <div class="content">-->
<!--          <div class="category">Card Design</div>-->
<!--          <a class="main-heading" href="./pages/Blog/Blog-Details.html">10 Business Card Ideas</a>-->
<!--          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam possimus modi.</p>  -->
<!--          <div class="details">-->
<!--            <h3><i class="fas fa-user-circle"></i><span>By Admin</span></h3>-->
<!--            <h3><i class="far fa-calendar-alt"></i><span>3rd may, 2022</span></h3>-->
<!--          </div>  -->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
<!--  -->
<!--  </section>-->
  <!-- ==================== Blogs Area (End) ==================== -->


{% endblock %}