{% extends 'includes/base.html' %}
{% load static %}
{% block content %}
  <!-- ==================== Page-Title (Start) ==================== -->
  <div class="page-title">

    <div class="title">
      <h2>Service Details</h2>
    </div> 

    <div class="link">
      <a href="{% url 'home' %}" class="fas fa-home"></a>
      <i class="fas fa-arrow-right"></i>
      <span class="page">Service Details</span>
    </div>
 
  </div>
  <!-- ==================== Page-Title (End) ==================== -->



  <!-- ==================== Service Details (Start) ==================== -->
  <section class="service-details">

    <!-- ========== Service Info Container (Start) ========== -->
    <div class="service-info">

      <div class="image"> 
        <img src="{{service_details.image.url}}" alt="Blog-Image-1">
      </div>

      <div class="content">

        {{service_details.description|safe}}

      </div>

    </div>
    <!-- ========== Service Info Container (End) ========== -->



    <!-- ========== Service Sidebar Area (Start) ========== -->
    <div class="service-sidebar">

      <div class="sidebar-heading">
        <h2>all services</h2>
      </div>

      {% for service in services %}
        <a href="{% url 'service-detail' service.slug %}"><h3><i class="fas fa-angle-double-right"></i>{{service.title}}</h3></a>
      {% endfor %}

    </div>
    <!-- ========== Service Sidebar Area (End) ========== -->


  </section>
  <!-- ==================== Service Details (End) ==================== -->
{% endblock %}