{% extends 'includes/base.html' %}
{% load static %}
{% load template_tags %}
{% block content %}
<section class="faq">
<div class="container">
    <div class="heading">
        <h2 class="text-success" style="color: limegreen">Payment Success</h2>
        <h2>We have received your order.
        </h2>
        <p style="font-size: 22px; margin-top: 38px; padding: 70px;">
            You can visit <a style="color: var(--main-color)" href="/order-history"> order detail </a> to check status of your order or visit
            <a style="color: var(--main-color)" href="/">home page</a>.
        </p>
    </div>
</div>
</section>
{% endblock %}
