{% extends 'includes/base.html' %}
{% load static %}
{% load template_tags %}
{% block content %}

  <!-- ==================== Page-Title (Start) ==================== -->
  <div class="page-title">

    <div class="title">
      <h2>Product Details</h2>
    </div>

    <div class="link">
      <a href="{% url 'home' %}" class="fas fa-home"></a>
      <i class="fas fa-arrow-right"></i>
      <span class="page">Product Details</span>
    </div>

  </div>
  <!-- ==================== Page-Title (End) ==================== -->


  <!-- ==================== Product-Details Area (Start) ==================== -->
  <section class="product-details">

    <!-- ========== Product-Description Area (Start) ========== -->
    <div class="product-des">

      <div class="box-container">

        <div class="image">
          <div class="image-container">
            <div class="main">
              {% if product_details.photos.values %}
              <img src="{% static product_details|get_image %}" alt="">
              {% else %}
              <img src="{% static 'assets/images/default.jpg' %}" alt="no-image">
              {% endif %}
            </div>
            <div class="change-btns">
              {% if product_details.photos.values %}
              <img class="active" src="{% static product_details|get_image %}" alt="">
              {% for photo in product_details.photos.values %}
                {% if photo|get_photo_from_photos != product_details|get_image %}
                  <img src="{{photo|get_photo_from_photos}}" alt="">
                {% endif %}
              {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>

        <div class="content">
          <div class="text">

            <h3>{{product_details.title}}</h3>

            <div class="price">{{product_details.price|get_price:product_details.category.discount}}/- <span>{{product_details.price}}</span></div>

            <div class="intro">
              <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <span>(150+) reviews</span>
            </div>

            <p>{{product_details.about|safe}}</p>

            <div class='qty'>
              <h4>Quantity:</h4>
              <div class="quantity buttons_added">
                <input type="button" value="-" class="minus">
                <input type="number" step="1" min="1" max="5" name="quantity" value="1" title="Qty" class="input-text qty text">
                <input type="button" value="+" class="plus">
              </div>
            </div>

            <a href="../../pages/Shop/Cart.html" class="btn">add to cart</a>

            <div class='categories'>
              <h4>Categories:</h4>
              <span>{{product_details.category}}</span>
            </div>

            <div class='tags'>
              <h4>Tags:</h4>
              {% for tag in product_details.tag|get_tags %}
              <span>{{tag}}</span>
              {% endfor %}
            </div>


          </div>
        </div>
      </div>

      <div class="product-info">

        <div class="product-info-tabs">
          <button type="button" class="info-btn active" data-target="#description">description</button>
          <button type="button" class="info-btn" data-target="#additional">additional information</button>
          <button type="button" class="info-btn" data-target="#reviews">reviews (2)</button>
        </div>

        <div class="product-info-gallery active" id="description">
          <div class="description">
            <p>{{product_details.description|safe}}</p>
          </div>
        </div>

        <div class="product-info-gallery" id="additional">

          <div class="additional-info">
            {% for info in product_details.additional_information.values %}
            <div class="item"><h3>{{info.field}}:</h3><span>{{info.value}}</span></div>
            {% endfor %}
          </div>

        </div>

        <div class="product-info-gallery" id="reviews">

          <div class="reviews">

            <h2>2 reviews</h2>

            <div class="review-item">
              <div class="review-image">
                <img src="{% static 'assets/images/Shop/Comments/pic-1.png' %}" alt="">
              </div>
              <div class="review-content">
                <div class="intro">
                  <h3>Barry Wood</h3>
                  <h6><i class="far fa-calendar-alt"></i>feb 1st, 2022</h6>
                </div>
                <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias sapiente ullam esse laudantium corporis pariatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni et rem porro voluptatibus dicta, ab sint sunt eligendi molestiae odit odio corrupti voluptate nisi facere fuga quidem maxime iure cumque.</p>
                <div class='icon-item'><i class="fas fa-reply"></i><span>reply</span></div>
              </div>
            </div>

            <div class="review-item">
              <div class="review-image">
                <img src="{% static 'assets/images/Shop/Comments/pic-2.png' %}" alt="">
              </div>
              <div class="review-content">
                <div class="intro">
                  <h3>Helen Stother</h3>
                  <h6><i class="far fa-calendar-alt"></i>feb 1st, 2022</h6>
                </div>
                <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias sapiente ullam esse laudantium corporis pariatur. </p>
                <div class='icon-item'><i class="fas fa-reply"></i><span>reply</span></div>
              </div>
            </div>

          </div>

          <div class="leave-reply">
            <form action="comment.php">
              <h2>leave a comment</h2>

              <div class="input-box">
                <input type="text" name="name" class="box" id="name" placeholder="name" required>
                <input type="email" name="email" class="box" id="email" placeholder="email" required>
              </div>

              <textarea cols="30" rows="10" name="comment" class="box" id="comment" placeholder="comment"></textarea>

              <input type="submit" value="submit" class="btn">

            </form>
          </div>

        </div>

      </div>

    </div>
    <!-- ========== Product-Description Area (End) ========== -->



    <!-- ========== Related Products Area (Start) ========== -->
    <div class="related-items">

      <div class="sidebar-heading">
        <h2>Related Products</h2>
      </div>

      <div class="box-container">
        {% for similar in similar_products %}
        <div class="product-item">
          <div class="image">
            <div class="options">
              <a href="../../pages/Shop/Cart.html"><i class="fas fa-cart-plus"></i></a>
              <a href="../../pages/Shop/Wishlist.html"><i class="far fa-heart"></i></a>
              <a href="{% url 'product-details' similar.slug %}"><i class="far fa-eye"></i></a>
            </div>
            {% if similar.photos.values %}
            <img src="{% static similar|get_image %}" alt="">
            {% else %}
            <img src="{% static 'assets/images/default.jpg' %}" alt="no-image">
            {% endif %}
          </div>
          <div class="content">
            <a href="{% url 'product-details' similar.slug %}"><h3>{{similar.title}}</h3></a>
            <div class="price">
              <p>{{similar.price|get_price:similar.category.discount}} <span>{{similar.price}}</span></p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- ========== Related Products Area (End) ========== -->

  </section>
  <!-- ==================== Product-Details Area (End) ==================== -->

{% endblock %}
